{% load masha %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="author" content="d1ffuz0r, d1fffuz0r@gmail.com" />
    <meta name="keywords" content="d1ffuz0r, blog, contacts, portfolio, services, python, django, tornado, jQuery" />
    <meta name="description" content="d1ffuz0r personal site, blog, portfolio" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/site.js" charset="utf-8"></script>
    {% masha %}
  </head>
  <body>
    <div id="head">
      <div id="menu">
        <ul>
          <li><a href="/"><button class="{% if home %}active{% else %}button{% endif %}">Home</button></a></li>
          <li><a href="/about/"><button class="{% if about %}active{% else %}button{% endif %}">About me</button></a></li>
          <li><a href="/blog/"><button class="{% ifequal page 'blog' %} active{% else %}button{% endifequal %}">Blog</button></a></li>
          <li><a href="/skills/"><button class="{% if skills %} active{% else %}button{% endif %}">Skills</button></a></li>
          <li><a href="/contacts/"><button class="{% if contacts %} active{% else %}button{% endif %}">Contacts</button></a></li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div class="title">{% block page_title %}{% endblock %}</div>
      {% block content %}{% endblock %}
    </div>
    <div id="footer">{% load footer_tags %}
      <div style="background:  #566579;">
        <ul>
          <li>
            <div class="block">
              <div class="header social"></div>
              <div id="activity">
                <div class="loader hidden"></div>
                <ul id="activity-tweets"></ul>
              </div>
              <div id="social_link">
                <ul>{% social %}
                  <li><a href="{{ social.facebook }}" target="_blank"><img src="{{ STATIC_URL }}images/social/facebook.png" alt=""></a></li>
                  <li><a href="{{ social.twitter }}" target="_blank"><img src="{{ STATIC_URL }}images/social/twitter.png" alt=""></a></li>
                  <li><a href="{{ social.github }}" target="_blank"><img src="{{ STATIC_URL }}images/social/github.png" alt=""></a></li>
                  <li><a href="{{ social.linkedin }}" target="_blank"><img src="{{ STATIC_URL }}images/social/linkedin.png" alt=""></a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="block">
              <div class="header contact"></div>
              <div id="quick-form">
                <form id="quick-message">
                  {% csrf_token %}
                  {% quick_form %}
                  <p><button id="quick-submit" onclick="return false;">Send</button></p>
                </form>
              </div>
            </div>
          </li>
          <li class="last">
            <div class="block">
              <div class="header find_us"></div>
                <div id="latest-post">
                  <ul>{% latest_posts %}
                    {% for post in latest_posts %}<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
          </li>
        </ul>
        <div class="copyright">
          <div class="by-django"><img src="{{ STATIC_URL }}images/django-logo.gif" alt=""></div>
          <div class="rss"><a href="/blog/rss/"><img src="{{ STATIC_URL }}images/rss_logo.png" alt=""></a></div>
        </div>
      </div>
    </div>
  </body>
</html>
