<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page|capfirst }}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/site.js" charset="utf-8"></script>
  {% block head %}{% endblock %}</head>
  <body>
    <div id="head">
      <div id="menu">
        <ul>
          <li><a href="/"><button class="{% ifequal page 'home' %}active{% else %}button{% endifequal %}">{{ _('home')|capfirst }}</button></a></li>
          <li><a href="/about"><button class="button{% ifequal page 'about' %} active{% endifequal %}">{{ _('about me')|capfirst }}</button></a></li>
          <li><a href="/blog"><button class="button{% ifequal page 'blog' %} active{% endifequal %}">{{ _('blog')|capfirst }}</button></a></li>
          <li><a href="/portfolio"><button class="button{% ifequal page 'portfolio' %} active{% endifequal %}">{{ _('portfolio')|capfirst }}</button></a></li>
          <li><a href="/services"><button class="button{% ifequal page 'services' %} active{% endifequal %}">{{ _('services')|capfirst }}</button></a></li>
          <li><a href="/contacts"><button class="button last{% ifequal page 'contacts' %} active{% endifequal %}">{{ _('contacts')|capfirst }}</button></a></li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div class="title">{% block page_title %}{% endblock %}</div>
      {% block content %}{% endblock %}
    </div>
    <div id="footer">{% load footer_tags %}
      <ul>
        <li>
          <div class="block">
            <div class="header social"></div>
            <div id="activity">
              <div class="loader hidden"></div>
                <ul id="activity-tweets"></ul>
            </div>
          </div>
        </li>
        <li>
          <div class="block">
            <div class="header contact"></div>
            <div id="quick-form">
              <form id="quick-message">{% csrf_token %}
                {% quick_form %}
                <p><button id="quick-submit" onclick="return false;">{{ _('send')|capfirst }}</button></p>
              </form>
            </div>
          </div>
        </li>
        <li class="last">
          <div class="block">
            <div class="header find_us"></div>
              <div id="latest-post">
                <ul>{% latest_posts %}
                  {% for post in latest_posts %}<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
          </div>
        </li>
      </ul>
      <div class="copyright">
        <div class="by-django"><img src="{{ STATIC_URL }}images/django-logo.gif" alt=""></div>
        <div class="rss"><a href="/blog/rss/" title="RSS"><img src="{{ STATIC_URL }}images/rss_logo.png" alt=""></a></div>
      </div>
    </div>
  </body>
</html>