{% extends 'base.html' %}
{% block page_title %}
    Contacts
{% endblock %}
{% block content %}
    <div id="contacts">
        <div class="contact jabber">
            <span>Jabber</span>

            <div class="desc">{{ settings.jabber }}</div>
        </div>
        <div class="contact icq">
            <span>ICQ</span>

            <div class="desc">{{ settings.icq }}</div>
        </div>
        <div class="contact email">
            <span>E-mail</span>

            <div class="desc">{{ settings.email }}</div>
        </div>
    </div>
{% endblock %}