{% extends 'base.html' %}
{% block title %}Skills{% endblock %}
{% block page_title %}Skills{% endblock %}
{% block content %}<div id="skills">
        <div class="skills-items">
          <ul>{% if skills %}{% for skill in skills %}
            <li class="skill">
              <div class="skill-item-image"><img src="{{ MEDIA_URL }}{{ skill.image }}" height="100" alt=""/></div>
              <div class="skill-item-desc">{{ skill.description }}</div>
            </li>{% endfor %}{% else %}Not append skills :({% endif %}
          </ul>
        </div>
    </div>{% endblock %}