{% extends 'base.haml' %}
{% block title %}About me{% endblock %}
{% block page_title %}Hi, There.{% endblock %}
{% block content %}
      #about
        .about-left
          {{ about.0.description|safe }}
{% endblock %}