{% extends 'base.haml' %}
{% block title %}Blog{% endblock %}
{% block page_title %}Blog{% endblock %}
{% block content %}
      #blog
        {% if posts %}
          %ul.posts
            {% for post in posts.object_list %}
            %li.blog-post{'itemprop': 'blogpost'}
              %h1{'itemprop': 'title'}
                <a class='more' itemprop='url' href='{{ post.get_absolute_url }}'>{{ post.title }}</a>
              %span
                {{ post.text|safe|linebreaksbr|truncatewords:10 }}
              %a.more{'itemprop': 'url', 'href': '{{ post.get_absolute_url }}'} More
            {% endfor %}
          .pagination
            %span.step-links
              {% if posts.has_previous %}<a href='?page={{ posts.previous_page_number }}'>previous</a>{% endif %}
              <span class='current'>{{ posts.number }} of {{ posts.paginator.num_pages }}</span>
             {% if posts.has_next %}<a href='?page={{ posts.next_page_number }}'>next</a>{% endif %}
        {% else %}No posts :({% endif %}
{% endblock %}
