{% extends 'base.haml' %}
{% block title %}Home{% endblock %}
{% block content %}
      #home
        #home-links
          %ul
            %li.about
              %a{'href': '/about/'} About me
            %li.portfolio
              %a{'href': '/blog/'} Blog
            %li.skills
              %a{'href': '/skills/'} Skills
            %li.contact
              %a{'href': '/contacts/'} Contacts
{% endblock %}
