{% extends 'base.haml' %}
{% load disqus_tags %}
{% disqus_dev %}
{% block title %}Blog - {{ post.title|capfirst }}{% endblock %}
{% block page_title %}{{ post.title|capfirst }}{% endblock %}
{% block content %}
      #post
        {{ post.text|safe|linebreaksbr }}
        %hr.split
        {% disqus_show_comments %}
{% endblock %}